body{
    background-color: whitesmoke;
    text-align: center;
    background: url(./images/undraw_Account_re_o7id.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
section{

    display: flex;
    justify-content: center;
    width: 100%;
}
.log_in-div{
    height: 67vh;
    width: 36%;
    border: 2px solid rgb(209, 157, 2);
    margin: auto 50px;
    display: inline-block;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.537);
    backdrop-filter: blur(10px);
    box-shadow: 1px 3px 10px black;
}

button{
    height: 3rem;
    margin: 10px 30%;
    width: 15rem;
    border: 2px solid gold;
    border-radius: 10px;
    font-size: large;
    font-weight: 600;
    background-color: white;
    transition: 0.3s;
}
button:hover{
    background-color: gold;
    color: white;
    width: 15.5rem;
    height: 3.3rem;
    font-size: larger;
}
span{
    color: gold;
}
h2{
    color: rgb(217, 43, 226);

}